@use "global" as *;

.archive-head {
  width: 100%;
  height: rem(460);
  display: grid;
  place-content: center;
  position: relative;
	@include mq(md) {
		height: rem(548);
	}
}

// 画像
// campaign
.archive-head.archive-head--campaign {
  background: url(../images/common/archive-campaign-head_sp.jpg) no-repeat
    center / cover;
  @include mq(md) {
    background: url(../images/common/archive-campaign-head_pc.jpg) no-repeat
      center / cover;
  }
}

.archive-head::before {
  content: "";
  display: block;
  width: 100%;
  height: inherit;
  background-color: rgba($green, 0.3);
  position: absolute;
  top: 0;
  left: 0;
}

.archive-head__title {
  font-size: rem(40);
  line-height: calc(48 / 40);
  font-weight: $regular;
  font-family: $lato;
  color: $white;
  @include mq(md) {
		margin-top: rem(100);
    font-size: rem(80);
    line-height: calc(100 / 80);
  }
}

.archive-head__title::first-letter {
  text-transform: uppercase;
}
