@use "global" as *;

.archive-blog-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: rem(40) 0;
  padding: 0 rem(6);
  @include mq(md) {
    padding: 0;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(80) rem(40);
  }
}

.archive-blog-cards_item {
  position: relative;
  z-index: 1;
  display: flex;
}
