@use "global" as *;

.archive-about__inner {
  max-width: rem(600);
  position: relative;
  @include mq(md) {
    max-width: 100%;
  }
}

.archive-about__inner::before {
  content: "";
  background: url(../images/common/fishs_r.png) no-repeat top / contain;
  display: block;
  width: rem(122);
  height: rem(138);
  position: absolute;
  top: rem(48);
  left: calc(50% - min(46.5vw, #{rem(620)}));
  @include mq(md) {
    width: rem(301);
    height: rem(138);
    top: rem(100);
    left: calc(50% - min(47vw, #{rem(620)}));
  }
}

.archive-about__blackeneds {
  margin-top: rem(8);
}

.archive-about__contents {
  margin-top: rem(52);
  @include mq(md) {
    margin-top: rem(150);
  }
}

.archive-about__title {
  margin-top: rem(36);
  @include mq(md) {
    margin-top: rem(120);
  }
}

.archive-about__images {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(80);
  }
}
