@use "global" as *;

.btn {
  display: inline-block;
  position: relative;
}

.btn::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border: rem(1) solid $green;
  position: absolute;
  top: rem(5);
  left: rem(5);
}

.btn span {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  background-color: $green;
  border: rem(1) solid $green;
  padding: rem(15) rem(31) rem(15) rem(34);
  position: relative;
  transition: 0.3s ease;
  overflow: hidden;
  z-index: 1;
  font-size: rem(14);
  line-height: calc(22 / 14);
  font-family: $gotu;
  font-weight: $regular;
  color: $white;
  word-break: break-word;
}

.btn span::before {
  content: "";
  display: inline-flex;
  margin-top: rem(-4);
  width: rem(61);
  height: rem(8);
  background: url(../images/common/arrow.svg) no-repeat center / contain;
  transition: 0.3s ease;
}

.btn span::after {
  background: $white;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
  z-index: -1;
}

.btn span:hover {
  @include mq(md) {
    color: $green;
  }
}

.btn span:hover::before {
  @include mq(md) {
    background: url(../images/common/arrow_green.svg) no-repeat center / contain;
  }
}

.btn span:hover::after {
  @include mq(md) {
    transform: scale(1, 1);
  }
}

/*===== 404ページ =====*/
.btn.btn--white::before {
 border: rem(1) solid $white;
}

.btn.btn--white span {
   padding: rem(14) rem(33) rem(14) rem(41);
  background-color: $white;
  color: $green;
  border: rem(1) solid $white;
}

.btn.btn--white span::before {
  background: url(../images/common/arrow_green.svg) no-repeat center / contain;
}

.btn.btn--white span::after {
background-color: $green;
}

.btn.btn--white span:hover {
  @include mq(md) {
    color: $white;
  }
}

.btn.btn--white span:hover::before {
  @include mq(md) {
    background: url(../images/common/arrow.svg) no-repeat center / contain;
  }
}


// .btn.btn--white span:hover::after {
//   @include mq(md) {
//     transform: scale(1, 1);
//   }
// }
