@use "global"as *;

.campaign-swiper__btn-wrap {
  display: none;
  @include mq(md) {
    display: flex;
    justify-content: flex-end;
    gap: 0 rem(80);
    padding: 0 rem(180);
    max-width: rem(1265);
  }
}

.campaign-swiper__container {
  width: 100%;
  height: auto;
  @include mq(md) {
    margin-top: rem(25);
  }
}

.campaign-swiper__wrapper {
  padding-bottom: rem(10);
  padding-left: rem(5);
}

.campaign-swiper__slide {
  width: rem(281);
  height: auto;
  display: flex;
  @include mq(md) {
    width: rem(333);
  }
}

.campaign-swiper__prev,
.campaign-swiper__next {
  @include mq(md) {
    width: rem(80);
    height: rem(80);
    position: static;
    transition: 0.3s ease;
  }
}

.campaign-swiper__prev:hover,
.campaign-swiper__next:hover {
  @include mq(md) {
    opacity: 0.7;
  }
}

.campaign-swiper__prev::after,
.campaign-swiper__next::after {
  content: "";
  width: rem(80);
  height: rem(80);
}

.campaign-swiper__prev::after {
  background: url(../images/common/swiper-arrow_L.svg)no-repeat center / contain;
}

.campaign-swiper__next::after {
  background: url(../images/common/swiper-arrow_R.svg)no-repeat center / contain;
}
