@use "global"as *;

.campaign__inner {
  padding: 0 10px;
  max-width: rem(630);
  margin: 0 auto;
  @include mq(md) {
    padding: 0 rem(25);
    max-width: rem(1141);
  }
}

.campaign__title {
  max-width: rem(300);
  word-break: break-word;
  margin: 0 auto;
}

.campaign__slider {
  margin-top: rem(28);
  margin-right: calc(50% - 50vw);
  @include mq(md) {
    margin-top: rem(-43);
  }
}

.campaign__btn {
  text-align: center;
  margin: rem(29) auto 0;
  @include mq(md) {
    margin-top: rem(69);
  }
}
