@use "global" as *;

.cards4__item {
  display: none;
  animation: cards4-item-open 1s;
}

@keyframes cards4-item-open {
  from {
    opacity: 0;
    visibility: hidden;
  }

  to {
    opacity: 1;
    visibility: visible;
  }
}
