@use "global" as *;

.cards3 {
  display: grid;
  gap: rem(40) 0;
  @include mq(md) {
    grid-template-columns: repeat(2, 1fr);
    gap: rem(78) rem(40);
  }
}

.cards3__item {
  display: flex;
  margin: 0 auto;
}
