@use "global" as *;

.cards1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: rem(40) 0;
  @include mq(md) {
    grid-template-columns: repeat(2, 1fr);
    gap: rem(80) rem(40);
  }
}

.cards1__item {
  display: flex;
}
