@use "global"as *;

.cards2 {
  display: grid;
  gap: rem(40) 0;

  @include mq(md) {
    grid-template-columns: repeat(3, 1fr);
    gap: rem(40);
  }
}

.cards2__item {
  display: flex;
  margin: 0 auto;
  background-color: $white;
}