@use "global"as *;

.card1 {
  display: flex;
  flex-direction: column;
  box-shadow: rem(2) rem(2) rem(10) 0 rgba(0, 0, 0, 0.25);
  word-break: break-word;
}

.card1_img img {
  aspect-ratio: 280/186;
  width: 100%;
  object-fit: cover;

  @include mq(md) {
    aspect-ratio: 333/224;
  }
}

.card1__body-top {
  padding: rem(16) rem(16) 0;

  @include mq(md) {
    padding-top: rem(24);
  }
}

.card1__tag {
  display: inline-block;
  border: rem(1) solid $green;
  padding: rem(2) rem(12) rem(4) rem(11);
  font-size: rem(12);
  line-height: calc(22/12);
  font-weight: $regular;
  color: $green;

  @include mq(md) {
    padding: rem(5) rem(16);
  }
}

.card1__title {
  margin-top: rem(5);
  font-size: rem(16);
  line-height: calc(24 / 16);
  font-weight: $medium;
  padding-bottom: rem(7);
  border-bottom: rem(1) solid $green;

  @include mq(md) {
    margin-top: rem(3);
  }
}

.card1__body-bottom {
  padding: 0 rem(16) rem(24);
  margin-top: auto;

  @include mq(md) {
    padding-bottom: rem(40);
  }
}

.card1__text {
  margin-top: rem(8);
  text-align: center;
  font-size: rem(14);
  line-height: calc(24 / 14);
  font-weight: $regular;

  @include mq(md) {
    margin-top: rem(16);
    font-size: rem(16);
    line-height: calc(24 / 16);
  }
}

.card1__wrap {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: rem(8);
}

.card1__price1 {
  font-size: rem(20);
  line-height: 1;
  font-family: $lato;
  font-weight: $bold;
  width: calc(92 / 211 * 100%);
  padding-left: rem(19);

  @include mq(md) {
    font-size: rem(24);
  }
}

.card1__price1 span {
  position: relative;
}

.card1__price1 span::before {
  content: "";
  display: block;
  width: 100%;
  height: rem(3);
  background-color: #C94800;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.card1__price2 {
  font-size: rem(32);
  line-height: 1;
  font-family: $lato;
  font-weight: $bold;
  color: $green;
  width: calc(119 / 211 * 100%);

  @include mq(md) {
    font-size: rem(40);
  }
}