@use "global" as *;

.card1 {
  display: flex;
  flex-direction: column;
  box-shadow: rem(2) rem(2) rem(10) 0 rgba(0, 0, 0, 0.25);
  word-break: break-word;
}

.card1__img img {
  aspect-ratio: 280/186;
  width: 100%;
  object-fit: cover;
  @include mq(md) {
    aspect-ratio: 333/224;
  }
}

.card1__body-top {
  padding: rem(16) rem(16) 0;
  @include mq(md) {
    padding-top: rem(24);
  }
}

.card1__tag {
  display: inline-block;
  border: rem(1) solid $green;
  padding: rem(2) rem(12) rem(4) rem(11);
  font-size: rem(12);
  line-height: calc(22 / 12);
  font-weight: $regular;
  color: $green;
  @include mq(md) {
    padding: rem(5) rem(16);
  }
}

.card1__title {
  margin-top: rem(5);
  font-size: rem(16);
  line-height: calc(24 / 16);
  font-weight: $medium;
  padding-bottom: rem(7);
  border-bottom: rem(1) solid $green;
  @include mq(md) {
    margin-top: rem(3);
  }
}

.card1__body-bottom {
  padding: rem(8) rem(16) rem(24);
  margin-top: auto;
  @include mq(md) {
    padding-top: rem(16);
    padding-bottom: rem(40);
  }
}

.card1__text {
  text-align: center;
  font-size: rem(14);
  line-height: calc(24 / 14);
  font-weight: $regular;
  @include mq(md) {
    font-size: rem(16);
    line-height: calc(24 / 16);
  }
}

.card1__wrap {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: rem(8) auto 0;
  max-width: rem(300);
}

.card1__price1 {
  font-size: rem(20);
  line-height: 1;
  font-family: $lato;
  font-weight: $bold;
  width: calc(92 / 211 * 100%);
  padding-left: rem(19);
  @include mq(md) {
    font-size: rem(24);
  }
}

.card1__price1 span {
  position: relative;
}

.card1__price1 span::before {
  content: "";
  display: block;
  width: 100%;
  height: rem(3);
  background-color: #c94800;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.card1__price2 {
  font-size: rem(32);
  line-height: 1;
  font-family: $lato;
  font-weight: $bold;
  color: $green;
  width: calc(119 / 211 * 100%);
  @include mq(md) {
    font-size: rem(40);
  }
}

.card1__archive-text {
  font-size: rem(16);
  line-height: calc(24 / 16);
  font-weight: $regular;
  padding-bottom: rem(28);
  @include mq(md) {
    padding-bottom: rem(32);
  }
}

.card1__cta {
  margin-top: auto;
  text-align: center;
}

.card1__period {
  font-size: rem(16);
  line-height: calc(18 / 16);
  font-weight: $bold;
  color: $green;
  font-family: $lato;
}

.card1__cta-text {
  margin-top: rem(7);
  font-size: rem(14);
  line-height: calc(18 / 14);
  font-weight: $regular;
  color: $green;
}

.card1__btn {
  margin-top: rem(16);
}

/*===== archiveキャンペーン =====*/
.card1__img.card1__img--campaign img {
  aspect-ratio: 280/189;
  @include mq(md) {
    aspect-ratio: 333/222;
  }
}

.card1__body-top.card1__body-top--campaign {
  @include mq(md) {
    padding: rem(24) rem(23) 0;
  }
}

.card1__wrap.card1__wrap--campaign {
  margin-top: rem(6);
  @include mq(md) {
    margin-top: rem(8);
  }
}

.card1__price1.card1__price1--archive {
  width: calc(96 / 211 * 100%);
  @include mq(md) {
    padding-left: rem(10);
    width: 49.49763%;
  }
}

.card1__title.card1__title--archive {
  @include mq(md) {
    font-size: rem(24);
    line-height: calc(35 / 24);
    padding-bottom: rem(4);
  }
}

.card1__body-bottom.card1__body-bottom--archive {
  @include mq(md) {
    padding-top: rem(24);
    padding-bottom: rem(38);
  }
}

.card1__archive_contents {
  display: none;
  @include mq(md) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: rem(-14);
    padding-bottom: rem(44);
    padding: 0 rem(24);
  }
}

//===== サイドバー =====
.card1__img.card1__img--sidebar img {
  aspect-ratio: 294/188;
}

.card1__body-top.card1__body-top--sidebar {
  padding: rem(16) rem(23) 0;
}

.card1__title.card1__title--sidebar {
  text-align: center;
  margin-top: rem(-1);
  @include mq(md) {
    font-size: rem(16);
    line-height: calc(24 / 14);
    font-weight: $regular;
  }
}

.card1__body-bottom.card1__body-bottom--sidebar {
  @include mq(md) {
    padding-bottom: rem(24);
    padding-top: 0;
  }
}

.card1__text.card1__text--sidebar {
  @include mq(md) {
    margin-top: rem(6);
    font-size: rem(14);
    line-height: calc(24 / 14);
  }
}

.card1__price1.card1__price1--sidebar {
  @include mq(md) {
    font-size: rem(20);
    line-height: 1;
    padding-left: rem(26);
    width: calc(95 / 211 * 100%);
  }
}

.card1__price2.card1__price2--sidebar {
  @include mq(md) {
    font-size: rem(32);
    line-height: 1;
  }
}
