@use "global"as *;

.card3 {
  display: block;
  padding: rem(16) rem(16) rem(24);
  box-shadow: rem(2) rem(2) rem(10) 0 rgba(0, 0, 0, 0.25);

  @include mq(md) {
    padding: rem(24);
  }
}

.card3:hover {
  @include mq(md) {
    opacity: 0.7;
  }
}

.card3__wrap1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 0 rem(16);
}

.card3__wrap3 {
  @include mq(md) {
    display: flex;
    align-items: flex-end;
    margin-top: rem(24);
  }
}

.card3__meta {
  display: flex;
}

.card3__age,
.card3__gender {
  max-width: rem(60);
  font-size: rem(12);
  line-height: calc(18 / 12);
  font-weight: $regular;
  flex-shrink: 0;
}

.card3__tag {
  max-width: rem(150);
  display: inline-block;
  padding: rem(2) rem(11) rem(3) rem(11);
  border: rem(1) solid $green;
  font-size: rem(12);
  line-height: calc(22 / 12);
  font-weight: $regular;
  color: $green;
  margin-left: auto;

  @include mq(md) {
    padding: rem(6) rem(15) rem(6) rem(15);
  }
}

.card3__title {
  margin-top: rem(5);
  font-size: rem(16);
  line-height: calc(23 / 16);
  font-weight: $medium;
  padding-bottom: rem(3);
  border-bottom: rem(1) solid $green;

  @include mq(md) {
    margin-top: rem(6);
    font-size: rem(24);
    line-height: calc(35 / 24);
    padding-bottom: rem(4);
  }
}

.card3__img {
  width: rem(151);
  flex-shrink: 0;
  //アニメーション
  position: relative;
  --clippath: inset(0 0 0 100%);

  @include mq(md) {
    width: rem(180);
  }
}

.card3__img::before {
  content: "";
  display: block;
  width: 99%;
  height: 98.5%;
  background-color: $green;
  position: absolute;
  top: rem(1);
  left: rem(1);
  clip-path: var(--clippath);
  opacity: var(--opacity);
}

.card3__img img {
  aspect-ratio: 151/117;
  width: 100%;
  object-fit: cover;
  //アニメーション
  clip-path: inset(0 0 0 100%);

  @include mq(md) {
    aspect-ratio: 180/140;
  }
}

.card3__text {
  margin-top: rem(15);
  font-size: rem(16);
  line-height: calc(24 / 16);
  font-weight: $regular;

  @include mq(md) {
    margin-top: rem(40);
  }
}