@use "global"as *;

.charge-list {
  display: grid;
  gap: rem(40) 0;
}

.charge-list__title {
  font-size: rem(16);
  line-height: calc(24 / 16);
  font-weight: $bold;
  border-bottom: rem(1) solid $green;
  padding-bottom: rem(3);
}

.charge-list__items {
  margin-top: rem(8);
  display: grid;
  gap: rem(8) 0;
}

.charge-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 rem(10);
}

.charge-list__menu,
.charge-list__price {
  font-size: rem(14);
  line-height: calc(24 / 14);
  font-weight: $regular;
  @include mq(md) {
    font-size: rem(16);
    line-height: calc(24 / 16);
  }
}
