@use "global"as *;

.footer {
  padding: rem(48) 0 rem(56);
  background-color: $green;
  display: grid;
  place-content: center;
  position: relative;
  @include mq(md) {
    padding: rem(79) 0 rem(81);
    display: block;
  }
}

.footer__inner {
  padding: 0 rem(14);
  margin: 0 auto;
  @include mq(md) {
    margin: 0 auto;
    padding: 0 rem(25);
    max-width: rem(1130);
  }
}

//safariのみ対応
::-webkit-full-page-media,
:future,
:root .footer__inner {
  padding: 0 rem(9);
}

.footer__wrap {
  @include mq(md) {
    display: flex;
    gap: 0 rem(40);
  }
}

.footer__logo img {
  width: rem(120);
  @include mq(md) {
    width: rem(200);
  }
}

.footer__links {
  margin-top: rem(16);
  display: flex;
  gap: 0 rem(16);
  @include mq(md) {
    margin-top: rem(38);
  }
}

.footer__link a {
  display: block;
  width: rem(24);
  height: rem(24);
  @include mq(md) {
    width: rem(32);
    height: rem(32);
  }
}

.footer__link a:hover {
  @include mq(md) {
    opacity: 0.7;
  }
}

.footer__nav {
  margin-top: rem(30);
  @include mq(md) {
    margin-top: rem(15);
  }
}

.footer__top-btn {
  position: fixed;
  bottom: rem(16);
  right: rem(15);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease;
  width: rem(48);
  height: rem(48);
  z-index: 1;
  @include mq(md) {
    bottom: rem(20);
    right: rem(20);
    width: rem(80);
    height: rem(80);
  }
}

.footer__top-btn.is-active {
  visibility: visible;
  opacity: 1;
}

.footer__top-btn.is-stop {
  position: absolute;
  top: rem(-64);
  @include mq(md) {
    top: rem(-100);
  }
}

.footer__copy {
  margin-top: rem(30);
  text-align: center;
  display: block;
  font-size: rem(12);
  line-height: calc(18 / 12);
  font-weight: $regular;
  font-family: $gotu;
  color: $white;
  @include mq(md) {
    margin-top: rem(70);
    font-size: rem(14);
    line-height: calc(18 / 14);
  }
}
