@use "global" as *;

/*===== 各種フォームリセット & スタイル =====*/

/*===== テキスト、メール、TE、パスワード =====*/
input[type="text"],
input[type="mail"],
input[type="tel"],
input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: rem(16) 0 0;
  padding: rem(8) rem(16);
  width: 100%;
  background-color: transparent;
  background-image: none;
  border: 1px solid $green;
  border-radius: 0;
  font-size: rem(16);
  line-height: calc(23 / 16);
  font-weight: $regular;
}

input[type="text"]:focus,
input[type="mail"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus {
  border: 1px solid $green;
  box-shadow: none;
  outline: none;
}

input[type="text"]::placeholder,
input[type="mail"]::placeholder,
input[type="tel"]::placeholder,
input[type="password"]::placeholder {
  font-size: rem(16);
  line-height: calc(23 / 16);
  font-weight: $regular;
  color: #ddf0f1;
}

/*===== テキストエリア =====*/
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: rem(17) 0 0;
  padding: rem(10);
  width: 100%;
  min-height: rem(200);
  background-color: transparent;
  background-image: none;
  border: 1px solid $green;
  border-radius: 0;
  font-size: rem(16);
  line-height: calc(23 / 16);
  font-weight: $regular;
}

textarea:focus {
  box-shadow: none;
  outline: none;
  border: 1px solid $green;
}

// textarea::placeholder {}

/*===== ラジオボタン =====*/
input[type="radio"] {
  appearance: none;
}

input[type="radio"] + span {
  display: block;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 0 rem(8);
  position: relative;
  font-size: rem(16);
  line-height: calc(23 / 16);
  font-weight: $regular;
}

input[type="radio"] + span::before {
  content: "";
  display: block;
  width: rem(14);
  height: rem(14);
  border: 1px solid $green;
}

input[type="radio"] + span::after {
  content: "";
  display: block;
  width: rem(10);
  height: rem(6);
  border-bottom: 3px solid #c94800;
  border-left: 3px solid #c94800;
  position: absolute;
  left: rem(2);
  top: 44%;
  transform: translateY(-50%) rotate(-45deg);
  opacity: 0;
  transition: opacity 0.3s;
}

input[type="radio"]:checked + span::after {
  opacity: 1;
}

.p-form__item.p-form__item--radio dd:first-of-type {
  margin-top: rem(16);
}
.p-form__item.p-form__item--radio dd:not(:first-of-type) {
  margin-top: rem(4);
}

/*===== チェックボックス =====*/
input[type="checkbox"] {
  appearance: none;
}

input[type="checkbox"] + span {
  display: inline-flex;
  gap: 0 rem(8);
  cursor: pointer;
  position: relative;
  font-size: rem(14);
  line-height: calc(22 / 14);
  font-weight: $regular;
}

input[type="checkbox"] + span::before {
  content: "";
  display: block;
  width: rem(22);
  height: rem(22);
  border: 1px solid $green;
  flex-shrink: 0;
}

input[type="checkbox"] + span::after {
  content: "";
  display: block;
  width: rem(18);
  height: rem(9);
  border-bottom: 3px solid #c94800;
  border-left: 3px solid #c94800;
  position: absolute;
  left: rem(2);
  top: 21%;
  transform: translateY(-50%) rotate(-45deg);
  opacity: 0;
  transition: opacity 0.3s;
}

input[type="checkbox"]:checked + span::after {
  opacity: 1;
}

.p-form__item.p-form__item--checkbox {
  max-width: rem(282);
  margin-inline: auto;
  border-bottom: none;
  padding-bottom: 0;
}

/*===== セレクトボックス =====*/
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  margin: rem(16) 0 0;
  padding: rem(11) rem(8);
  border: 1px solid $green;
  border-radius: 0;
  font-size: rem(12);
  line-height: calc(17 / 12);
  font-weight: $regular;
}

select::-ms-expand {
  display: none;
}

select:focus {
  border: 1px solid $green;
  box-shadow: none;
  outline: none;
}

// option[selected][disabled] {
//   display: none;
// }

/* 矢印 */
.p-form__item.p-form__item--select dd {
  position: relative;
}

.p-form__item.p-form__item--select dd::after {
  content: "";
  display: block;
  width: rem(12);
  height: rem(12);
  background: url(../images/common/trilateral.svg) no-repeat center / contain;
  position: absolute;
  top: 55%;
  right: rem(10);
  transform: rotate(90deg);
}

/*===== 送信ボタン =====*/
.p-form__button {
  margin-top: rem(24);
  background-color: $green;
  max-width: rem(202);
  margin: 0 auto;
  display: block;
  position: relative;
  z-index: 1;
}

//ボーダー
.p-form__button::before {
  content: "";
  display: block;
  border: 1px solid $green;
  width: 100%;
  height: 100%;
  position: absolute;
  top: rem(5);
  left: rem(5);
  z-index: -1;
  pointer-events: none;
}

// スライド背景
.p-form__button::after {
  background: $white;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  transform: scale(0, 1);
  transform-origin: left top;
  z-index: -1;
  transition: all 0.3s;
}
.p-form__button:hover::after {
  transform: scale(1, 1);
}

//矢印
.p-form__button span {
  position: relative;
}
.p-form__button span::after {
  content: "";
  display: block;
  margin-top: rem(-4);
  width: rem(61);
  height: rem(8);
  background: url(../images/common/arrow.svg) no-repeat center / contain;
  position: absolute;
  top: 50%;
  right: 16%;
  pointer-events: none;
  transition: all 0.3s;
}
.p-form__button span:hover::after {
  background: url(../images/common/arrow_green.svg) no-repeat center / contain;
}

//送信ボタン
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  text-align: left;
  text-decoration: none;
  margin: 0;
  padding: rem(16) rem(56);
  width: 100%;
  background-color: transparent;
  background-image: none;
  border-radius: 0;
  color: $white;
  border: 1px solid $green;
  font-size: rem(14);
  line-height: calc(22 / 14);
  font-weight: $regular;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  outline: none;
  color: $green;
}

// input[type="submit"]::-moz-focus-inner {
//   border: 1px solid #333;
//   padding: 0;
// }

/*===== 共通スタイル =====*/
.p-form__item {
  border-bottom: 1px dashed $green;
  padding-bottom: rem(24);
}

.p-form__item:not(:first-child) {
  margin-top: rem(24);
}

.p-form__item dt {
  display: inline-flex;
  gap: 0 rem(8);
  font-size: rem(16);
  line-height: calc(23 / 16);
  font-weight: $bold;
}
.p-form__item dt::after {
  content: "必須";
  display: block;
  background-color: #c94800;
  padding: rem(2) rem(16);
  font-size: rem(12);
  line-height: calc(17 / 12);
  font-weight: $regular;
  color: $white;
}

/* セレクトボックスは非表示 */
.p-form__item.p-form__item--select dt::after {
  display: none;
}
