@use "global" as *;

.gallery__list {
  display: grid;
  gap: rem(8) 0;
  @include mq(md) {
    grid-template-columns: repeat(13, 1fr);
    grid-auto-flow: dense;
    gap: rem(8);
  }
}

.gallery__item {
  @include mq(md) {
    grid-column: span 7;
    grid-row: span 1;
  }
}

//ラージサイズ
.gallery__item:nth-child(6n),
.gallery__item:nth-child(6n+1) {
  @include mq(md) {
    grid-column: span 6;
    grid-row: span 2;
  }
}

.gallery__item img {
  aspect-ratio: 345 /219;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  @include mq(md) {
    aspect-ratio: 580 /369;
  }
}

// ラージサイズ
.gallery__item:nth-child(6n) img,
.gallery__item:nth-child(6n+1) img {
  aspect-ratio: 345 /523;
  @include mq(md) {
    aspect-ratio: 492 /746;
  }
}

/*===== modal =====*/
.gallery__modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  background: rgba(32, 32, 32, 0.8);
  z-index: 200;
}

.gallery__modal.is-show {
  animation: modal-open 0.3s;
}

@keyframes modal-open {
  from {
    opacity: 0;
    visibility: hidden;
  }

  to {
    opacity: 1;
    visibility: visible;
  }
}

.gallery__modal img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 90%;
  max-height: 90%;
  height: 90%;
  object-fit: contain;
}
