@use "global"as *;

.information {
  background-color: $blue;
  padding: rem(80) 0 rem(84);
  @include mq(md) {
    padding: rem(96) 0 rem(100);
  }
}

.information__inner {
  max-width: rem(630);
}

.information__title {
  max-width: rem(300);
  word-break: break-word;
  margin: 0 auto;
}

.information__wrap {
  margin-top: rem(27);
  @include mq(md) {
    display: flex;
    align-items: center;
    gap: 0 rem(48);
    margin-top: rem(41);
  }
}

.information__img {
  //アニメーション
  position: relative;
  --clippath: inset(0 0 0 100%);
  @include mq(md) {
    width: calc(540 / 1080 * 100%);
  }
}

.information__img::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: $green;
  position: absolute;
  top: 0;
  left: 0;
  clip-path: var(--clippath);
}

.information__img img {
  aspect-ratio: 345 /227;
  width: 100%;
  object-fit: cover;
  //アニメーション
  clip-path: inset(0 0 0 100%);
}


.information__body {
  margin-top: rem(25);
  @include mq(md) {
    width: calc(492 / 1080 * 100%);
    margin-top: rem(-5);
  }
}

.information__sub-title {
  font-size: rem(20);
  line-height: calc(24 / 20);
  font-weight: $bold;
  padding-bottom: rem(3);
  border-bottom: rem(1) solid $green;
  @include mq(md) {
    font-size: rem(24);
    line-height: 1;
    padding-bottom: rem(8);
  }
}

.information__text {
  margin-top: rem(8);
  font-size: rem(16);
  line-height: calc(24 / 16);
  font-weight: $regular;
}

.information__btn {
  text-align: center;
  margin: rem(39) auto 0;
}
