@use "global"as *;

.mv-swiper {
  overflow: hidden;;
}

@keyframes zoomUp {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.15);
  }
}

.swiper-slide-active .mv-slide__img img,
.swiper-slide-duplicate-active .mv-slide__img img,
.swiper-slide-prev .mv-slide__img img {
  animation: zoomUp 10s linear 0s 1 normal both;
}

.mv-swiper__img img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
