@use "global"as *;

.op-animation {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.op-animation__mask {
  display: grid;
  place-content: center;
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: $white;
}

.op-animation__title1-block {
  text-align: center;
  transform: scale(1.3);
  opacity: 0;
  visibility: hidden;
}

.op-animation__title1 {
  font-size: rem(40);
  line-height: calc(48 / 40);
  letter-spacing: .54em;
  font-weight: 400;
  color: $green;
  text-transform: uppercase;
  @include mq(md) {
    font-size: rem(80);
    line-height: calc(100 / 80);
  }
}

.op-animation__sub-title1 {
  font-size: rem(20);
  line-height: calc(33 / 20);
  font-weight: 400;
  color: $green;
}

.op-animation__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.op-animation__left,
.op-animation__right {
  width: 50%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
}

.op-animation__left {
  transform: translateY(100%);
}

.op-animation__right {
  transform:translateY(calc(100% + #{rem(80)}));
}

.op-animation__title2-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  opacity: 0;
  visibility: hidden;
}

.op-animation__title2 {
  font-size: rem(40);
  line-height: calc(48 / 40);
  letter-spacing: .54em;
  font-weight: 400;
  color: $white;
  text-transform: uppercase;
  @include mq(md) {
    font-size: rem(80);
    line-height: calc(100 / 80);
  }
}

.op-animation__sub-title2 {
  font-size: rem(20);
  line-height: calc(33 / 20);
  font-weight: 400;
  color: $white;
}
