@use "global" as *;

.page-thanks__inner.inner {
  position: relative;
  padding: 0 9px;
  @include mq(md) {
    padding: 0 25px;
  }
}

.page-thanks__inner::before {
  content: "";
  background: url(../images/common/fishs_r.png) no-repeat center / contain;
  display: block;
  width: rem(120);
  height: rem(55);
  position: absolute;
  top: rem(49);
  left: calc(50% - min(46vw, #{rem(312)}));
  @include mq(md) {
    width: rem(301);
    height: rem(138);
    top: rem(102);
    left: calc(50% - min(43vw, #{rem(646)}));
  }
}

.page-thanks__blackeneds {
  margin-top: rem(8);
}

.page-thanks__title {
  margin-top: rem(52);
  text-align: center;
  font-size: rem(16);
  line-height: calc(18 / 16);
  font-weight: $regular;
  @include mq(md) {
    margin-top: rem(150);
  }
}

.page-thanks__text {
  margin-top: rem(40);
  text-align: center;
  font-size: rem(16);
  line-height: calc(23 / 16);
  font-weight: $regular;
}
