@use "global" as *;

.page-privacy__inner.inner {
  max-width: rem(630);
  @include mq(md) {
    max-width: rem(850);
  }
}

.page-privacy__title {
  font-size: rem(24);
  line-height: calc(35 / 24);
  font-weight: $medium;
  position: relative;
  z-index: 1;
  @include mq(md) {
    font-size: rem(32);
    line-height: calc(46 / 32);
  }
}

.page-privacy__wrap {
  margin-top: rem(40);
  font-size: rem(16);
  line-height: calc(32 / 16);
  font-weight: $regular;
}

/*===== 番号リスト =====*/
.page-privacy__ol-list {
  counter-reset: number;
}

.page-privacy__ol-item {
  padding-left: rem(23);
  text-indent: -1em;
}

.page-privacy__ol-item::before {
  counter-increment: number;
  content: counter(number) ".";
}

/*===== 箇条書きリスト =====*/
.page-privacy__ul-list {
  display: flex;
  flex-direction:column;
}

.page-privacy__ul-item {
  display: inline-flex;
  gap: 0 rem(6);
}

.page-privacy__ul-item::before {
  content: "・";
  width: rem(10);
  height: rem(10);
  display: block;
}

/*===== スペース =====*/
.page-privacy__ol-list.page-privacy__ol-list--1,
.page-privacy__text2,
.page-privacy__ul-list,
.page-privacy__text3 {
  margin-top: rem(32);
}
