@use "global" as *;

.page-about__inner.inner {
  max-width: rem(600);
  position: relative;
  @include mq(md) {
    max-width: rem(1130);
  }
}

.page-about__inner::before {
  content: "";
  background: url(../images/common/fishs_r.png) no-repeat top / contain;
  display: block;
  width: rem(122);
  height: rem(138);
  position: absolute;
  top: rem(48);
  left: calc(50% - min(46.5vw, #{rem(620)}));
  @include mq(md) {
    width: rem(301);
    height: rem(138);
    top: rem(100);
    left: calc(50% - min(49vw, #{rem(620)}));
  }
}

.page-about__inner::after {
  @include mq(md) {
    content: "";
    background: url(../images/common/fishs_l.png) no-repeat center / contain;
    display: block;
    width: rem(310);
    height: rem(138);
    position: absolute;
    top: rem(871);
    right:calc(50% - min(49vw,#{rem(646)}));
  }
}

.page-about__blackeneds {
  margin-top: rem(8);
}

.page-about__contents {
  margin-top: rem(52);
  @include mq(md) {
    margin-top: rem(150);
  }
}

.page-about__title {
  margin-top: rem(36);
  @include mq(md) {
    margin-top: rem(120);
  }
}

.page-about__images {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(80);
  }
}
