@use "global" as *;

.page-information__blackeneds {
  margin-top: rem(8);
}

.page-information__inner.inner {
  position: relative;
  max-width: rem(600);
  @include mq(md) {
    max-width: rem(1130);
  }
}

.page-information__inner::before {
  content: "";
  background: url(../images/common/fishs_r.png) no-repeat center / contain;
  display: block;
  width: rem(120);
  height: rem(55);
  position: absolute;
  top: rem(49);
  left:calc(50% - min(46vw, #{rem(646)}));
  @include mq(md) {
    width: rem(301);
    height: rem(138);
    top: rem(102);
    left:calc(50% - min(49vw, #{rem(619)}));
  }
}

.page-information__tubs {
  margin-top: rem(121);
  position: relative;
  z-index: 1;
  @include mq(md) {
    margin-top: rem(150);
  }
}

.page-information__contents {
  margin-top: rem(16);
  @include mq(md) {
    margin-top: rem(24);
  }
}
