@use "global" as *;

.page-thanks__inner.inner {
  max-width: rem(630);
  padding: 0 8px;
  @include mq(md) {
    max-width: rem(1130);
  }
}

.page-thanks__title {
  text-align: center;
  font-size: rem(16);
  line-height: calc(18 / 16);
  font-weight: $regular;
}

.page-thanks__text {
  margin-top: rem(40);
  text-align: center;
  font-size: rem(16);
  line-height: calc(23 / 16);
  font-weight: $regular;
}
