@use "global" as *;

.page-404 {
  padding-top: rem(52);
  background-color: $green;
  padding-bottom: rem(45);
  background: url(../images/common/kujira-large.png) no-repeat center / contain;
  background-position: 50% 190%;
  background-size: rem(345);
  @include mq(md) {
    padding-top: rem(118);
    background-position: 24% 100%;
    background-size: rem(698);
    padding-bottom: rem(155);
  }
}

.page-404__wrap {
  text-align: center;
}

.page-404__number {

  margin-left: rem(37);
  font-size: rem(80);
  line-height: calc(96 / 80);
  font-weight: $regular;
  letter-spacing: 0.5em;
  font-family: $lato;
  color: $white;
  @include mq(md) {

    margin-left: rem(77);
    font-size: rem(160);
    line-height: calc(192 / 160);
  }
}

.page-404__text {
  margin-top: rem(-4);
  font-size: rem(16);
  line-height: calc(24 / 16);
  font-weight: $regular;
  color: $white;
  font-family: $lato;
  @include mq(md) {
    margin-top: rem(24);
  }
}

.page-404__btn {
  margin-top: rem(41);
  @include mq(md) {
    margin-top: rem(80);
  }
}
