@use "global" as *;

.pagination1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination1__warp {
  display: flex;
  gap: 0 rem(12);
}

.pagination1__prev {
  margin-right: rem(40);
  transition: all 0.3s;
}

.pagination1__next {
  margin-left: rem(40);
  transition: all 0.3s;
}

.pagination1__prev:hover,
.pagination1__next:hover {
  @include mq(md) {
    background-color: $green;
  }
}

.pagination1__prev a,
.pagination1__next a {
  display: grid;
  place-content: center;
  width: rem(38);
  height: rem(38);
  border: 1px solid $green;
  transition: all 0.3s;
}

.pagination1__prev a::before,
.pagination1__next a::before {
  content: "";
  display: block;
  width: rem(8);
  height: rem(16);
  transition: all 0.3s;
}

.pagination1__prev a::before {
  background: url(../images/common/page-arrow_l.svg) no-repeat center / contain;
}

.pagination1__next a::before {
  background: url(../images/common/page-arrow_r.svg) no-repeat center / contain;
}

.pagination1__prev a:hover::before {
  @include mq(md) {
    background: url(../images/common/page-arrow_l-white.svg) no-repeat center / contain;
  }
}

.pagination1__next a:hover::before {
  @include mq(md) {
    background: url(../images/common/page-arrow_r-white.svg) no-repeat center / contain;
  }
}

.pagination1__number {
  display: grid;
  place-content: center;
  width: rem(38);
  height: rem(38);
  border: 1px solid $green;
}

.pagination1__number a {
  display: grid;
  place-content: center;
  width: inherit;
  height: inherit;
  font-size: rem(16);
  line-height: calc(19 / 16);
  font-weight: $bold;
  color: $green;
  transition: all 0.3s;
}

.pagination1__number a:hover {
  @include mq(md) {
    background-color: $green;
  color: $white;
  }
}

.pagination1__number a.current {
  background-color: $green;
  color: $white;
}
