@use "global" as *;

.price {
  padding: rem(80) 0;
  background-color: $blue;
  @include mq(md) {
    padding: rem(101) 0 rem(103);
  }
}

.price__inner {
  max-width: rem(630);
  @include mq(md) {
    position: relative;
  }
}

.price__inner::after {
  @include mq(md) {
    content: "";
    background: url(../images/common/fishs_l.png) no-repeat top / contain;
    display: block;
    // width: rem(437);
    width: min(30vw, #{rem(437)});
    height: rem(201);
    position: absolute;
    bottom: rem(-43);
    left: calc(50% - min(46vw, #{rem(620)}));
  }
}

.price__title {
  max-width: rem(300);
  word-break: break-word;
  margin: 0 auto;
}

.price__wrap {
  margin-top: rem(27);
  @include mq(md) {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 0 rem(95);
    margin-top: rem(39);
  }
}

.price__img {
  //アニメーション
  position: relative;
  --clippath: inset(0 0 0 100%);
  @include mq(md) {
    width: calc(493 / 1080 * 100%);
  }
}

.price__img::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: $green;
  position: absolute;
  top: 0;
  left: 0;
  clip-path: var(--clippath);
}

.price__img img {
  aspect-ratio: 345 / 227;
  width: 100%;
  object-fit: cover;
  //アニメーション
  clip-path: inset(0 0 0 100%);
  @include mq(md) {
    aspect-ratio: 493 / 746;
  }
}

.price__list {
  margin-top: rem(41);
  @include mq(md) {
    width: calc(492 / 1080 * 100%);
    margin-top: 0;
  }
}

.price__btn {
  text-align: center;
  margin: rem(40) auto 0;
  @include mq(md) {
    margin-top: rem(80);
  }
}
