@use "global" as *;

.sidebar-content {
  margin-top: rem(52);
  @include mq(md) {
    margin-top: rem(150);
    display: flex;
    gap: 0 rem(80);
  }
}

//左コンテンツ
.sidebar-content__left {
  @include mq(md) {
     width: calc(706 / 1080 * 100%);
  }
}

.sidebar-content__page-btn {
  margin-top: rem(80);
  @include mq(md) {
    margin-top: rem(82);
  }
}

//右コンテンツ
.sidebar-content__right {
margin-top: rem(86);
padding: 0 rem(25);
@include mq(md) {
   width: calc(294 / 1080 * 100%);
   flex-grow: 1;
   margin-top: rem(6);
   padding: 0;
}
}
