@use "global" as *;


.single-page__time {
  font-size: rem(14);
  line-height: calc(18 / 14);
  font-weight: $regular;
  font-family: $gotu;
  position: relative;
  z-index: 1;
}

.single-page__title {
  margin-top: rem(8);
  font-size: rem(24);
  line-height: calc(35 / 24);
  font-weight: $medium;
  border-bottom: 1px solid $green;
  padding-bottom: rem(4);
  position: relative;
  z-index: 1;
  @include mq(md) {
    font-size: rem(32);
    line-height: calc(46 / 32);
    padding-bottom:0;
  }
}

.single-page__img1,
.single-page__img2 {
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(40);
  }
}

.single-page__img1 img,
.single-page__img2 img {
  aspect-ratio: 345 /231;
  width: 100%;
  object-fit: cover;
  @include mq(md) {
     aspect-ratio: 700 /468;
  }
}

.single-page__text1,
.single-page__text2,
.single-page__text-bottom {
  margin-top: rem(24);
  font-size: rem(16);
  line-height: calc(24 / 16);
  font-weight: $regular;
  @include mq(md) {
    margin-top: rem(40);
  }
}

.single-page__list {
  margin-top: rem(24);
  display: grid;
  gap: rem(4) 0;
  @include mq(md) {
    margin-top: rem(40);
  }
}

.single-page__item {
  display: flex;
  align-items: center;
  gap: 0 rem(9);
  font-size: rem(16);
  line-height: calc(24 / 16);
  font-weight: $regular;
}

.single-page__item::before {
  content: "";
  display: block;
  width: rem(18);
  height: rem(18);
  background: url(../images/common/hitode-green.svg) no-repeat center / contain;
}

.single-page__btn {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(80);
  }
}
